$primary-color: #3490dc;
$secondary-color: #ffed4a;
$danger-color: #e3342f;
$success-color: #38c172;
$gray-100: #f7fafc;
$gray-900: #1a202c;
$black: #000000;
$white: #ffffff;

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-danger {
  color: $danger-color;
}

.text-success {
  color: $success-color;
}
